@font-face {
  font-family: 'Sawarabi-Mincho';
  src: url('./assets/fonts/SawarabiMincho-Regular.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Schibsted-Grotesk';
  src: url('./assets/fonts/SchibstedGrotesk-VariableFont_wght.ttf') format('truetype');
  font-weight: 400 900;
  font-display: swap;
  font-style: normal;
}

:root {
    font-family: 'Schibsted-Grotesk', sans-serif;
    font-size: 1.9rem;
    scrollbar-gutter: stable;
    overflow-y: scroll;
    min-height: 101vh; /* to always have a scroll bar #LOL */
}

body {
    margin: 0;
    background: #DFF2FF;
}

a {
    color: black;
}

p {
    margin: 0;
    width: 73%;
}

.bold {
    font-weight: 500;
}

.container {
    padding-left: 2.45rem;
    padding-top: 2.3rem;
    padding-bottom: 3rem;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-wrap {
    flex-wrap: wrap;
    gap: 1.5rem;
}

.sawarabi {
    font-family: 'Sawarabi-Mincho', serif;
}

.space-around {
    justify-content: space-around;
}

.space-between {
    justify-content: space-between;
}

@media screen and (max-width: 500px) {
    :root {
        font-size: 1.5rem;
    }

    p {
        width: 100%;
    }

    .container {
        padding-left: 1.15rem;
        padding-right: 1.18rem;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    }
}

